<!-- a-sceneに該当のconponentを追加する eg. detect-mesh-vps -->
<!-- In a-scene, add in the specific component eg. detect-mesh-vps -->
<a-scene
  landing-page
  detect-mesh-hamarikyu
  gltf-model="dracoDecoderPath: https://cdn.8thwall.com/web/aframe/draco-decoder/"
  xrextras-runtime-error
  xrextras-loading="
    loadBackgroundColor: #00A8EA;
    loadImage: #loading;"
  xrweb="enableVps: true"
  renderer="colorManagement: true"
>
  <!-- srcにモデルのパスを設定 -->
  <!-- Set the model path in src -->
  <a-assets>
    <a-asset-item
      id="model"
      src=""
    ></a-asset-item>
    <img id="loading" src="/assets/map-assets/loading.png" />
  </a-assets>

  <!-- containerはVPSが認識された時、VPSに合わせて位置と回転が変更する -->
  <!-- container will change modify its position and rotation to match the vps when detected -->
  <a-entity id="container" visible="false" position="0 0 0" rotation="0 0 0">
    <!-- Your 3D contents go inside this container -->
    <a-entity id="field" position="0 0 0" rotation="0 10 0">
  <!-- 方向参考用 -->
  <!-- cubes for direction references -->
      <!-- +y:rotate anticlockwise(screen right)  -y: rotate clockwise(screen left)  -->
      <a-box
        id="center"
        position="0 0 0"
        visible="false"
        scale="0.2 0.2 0.2"
        color="red"
      ></a-box>
      <!-- center  -->
      <a-box
        id="right"
        position="1 0 0"
        visible="false"
        scale="0.1 0.1 0.1"
        color="blue"
      ></a-box>
      <!-- -x:left  +x: right  -->
      <a-box
        id="front"
        position="0 0 1"
        visible="false"
        scale="0.1 0.1 0.1"
        color="green"
      ></a-box>
      <!-- +z: front  -z:back -->

  <!-- モデル移動用 -->
  <!-- cubes for moving references -->
      <a-box
        id="pointA"
        position="18 0 -2"
        visible="false"
        scale="1 1 1"
        color="white"
      ></a-box>
      <a-box
        id="pointB"
        position="-16 0 8"
        visible="false"
        scale="1 1 1"
        color="white"
      ></a-box>
      <a-box
        id="pointC"
        position="-20 0 -12"
        visible="false"
        scale="1 1 1"
        color="white"
      ></a-box>
      <a-box
        id="pointD"
        position="-3 0 -0.5"
        visible="false"
        scale="1 1 1"
        color="grey"
      ></a-box>
      <a-box
        id="pointE"
        position="-3 0 0"
        visible="false"
        scale="1 1 1"
        color="white"
      ></a-box>
      <a-light
        id="dirlight"
        type="directional"
        color="#d1e0ed"
        intensity="0.7"
        position="10 10 20"
      ></a-light>
  <!-- モデルとアニメーション -->
  <!--  References for Model and animation -->
      <a-entity id="model" position="16 0 -8">
        <a-entity
          id="anim"
          gltf-model="#model"
          position="0 0 0"
          scale="0.65 0.65 0.65"
          visible="true"
          animation-mixer="clip: Run.001"
        >
        </a-entity>
      </a-entity>
    </a-entity>
  </a-entity>

  <!-- 8thwallデフォルトの撮影ボタンと画像/ビデオプレビュー -->
  <!-- 8thwall Default Capture Button and Image/Video Preview -->
  <xrextras-capture-button></xrextras-capture-button>
  <xrextras-capture-preview></xrextras-capture-preview>

  <!-- 8thwallデフォルトの撮影ボタンと画像/ビデオプレビュー -->
  <!-- 8thwall Movie Configuration -->
  <xrextras-capture-config
    max-duration-ms="15000"
    max-dimension="1280"
    enable-end-card="false"
    file-name-prefix="my-capture-"
  ></xrextras-capture-config>

  <a-camera id="camera" position="0 1.8 4" fov="100" near="0.01" far="10000">
  </a-camera>

  <a-light type="ambient" color="#d5ecf0" intensity="0.6"></a-light>

  <!-- UI関連 -->
  <!-- UI Related -->
  <div id="top-section">
    <img
      id="back-btn"
      src="/assets/map-assets/back_btn.png"
      class="dontselect"
      style="display: none"
    />
  </div>

  <div id="top-section-photo">
    <img
      id="photo-icon"
      src="/assets/map-assets/photo_inst.png"
      class="dontselect"
      style="display: none"
    />
    <img
      id="photo-text"
      src="/assets/map-assets/photo_inst2.png"
      class="dontselect"
      style="display: none"
    />
  </div>

  <img
    id="video_inst"
    src="/assets/map-assets/video_inst.png"
    class="dontselect"
  />

  <div id="vps-inst" class="vps-inst" style="display: none">
    <img
      id="vps-inst-img"
      src="/assets/map-assets/vps_Inst.png"
      alt="Instruction Image"
      class="dontselect"
    />
    <div class="content-column">
      <p id="vps-inst-text">Scanning...</p>
    </div>
  </div>

  <!-- Result UI -->
  <div id="shareButton" style="display: none">
    <img src="/assets/map-assets/share_btn.png" class="dontselect" />
  </div>
  <div id="placeButton" style="display: none">
    <img src="/assets/map-assets/place_btn.png" class="dontselect" />
  </div>
  <div id="instruction" style="display: none">
    'Press the image to save it, or<br />tap the share button to save the
    video.'
  </div>
  <img
    id="retryBtn"
    src="/assets/map-assets/retry_btn.png"
    alt="Retry Button"
    style="display: none"
    class="dontselect"
  />
  <img
    id="endBtn"
    src="/assets/map-assets/end_btn.png"
    alt="Retry Button"
    style="display: none"
    class="dontselect"
  />

  <!-- 拡大縮小を禁止-->
  <!-- Prevent Zomming -->
<script>
  /* ピッチインピッチアウトによる拡大縮小を禁止 */
  function preventZoom(e) {
    if (e.touches.length >= 2) {
      e.preventDefault();
      e.stopPropagation();
    }
  }
  document.documentElement.addEventListener("touchstart", preventZoom, {
    passive: false,
  });
  /* ダブルタップによる拡大を禁止 */
  var t = 0;
  document.documentElement.addEventListener(
    "touchend",
    function (e) {
      var now = new Date().getTime();
      if (now - t < 350) {
        e.preventDefault();
      }
      t = now;
    },
    false
  );
</script>
